@{
    ViewBag.Title = "Home";    
    Layout = "~/Views/Shared/AdminNavBar.cshtml";

}

@using MvcApplication1.Models
@model User

<body style=" color: black;">
    <h2 style="margin-left:20%">Welcome @Model.Name as Admin</h2>
    
    <div style="width:50%;float:right;margin-top:5%">

        <a class="fancybox" href="~/Content/Users/@Model.Picture">
            <img src="~/Content/Users/@Model.Picture" style="max-height:400px;max-width:400px" data-toggle="modal">
        </a>
        <a href="/Admin/uploadPicture"><input type="submit" value="Change Picture" /></a>
    </div>


    <div style="width:30%;float:left;margin-left:10%;padding-left:5%;margin-top:5%; border: solid;color:GrayText">

        <label style="margin-left:15%">Personal Information</label>
        <br /><br />
        <label>Account No:@Model.Id</label><br />
        <label>Name:@Model.Name</label><br />
        <label>Address:@Model.Address</label><br />
        <label>Email:@Model.Email</label><br />
        @if(@ViewBag.balance != null)
        { 
        <label>Current Balance:@ViewBag.balance.Money</label><br />
        }
        else
        {
                    <label>Current Balance:0</label><br />    
        }
        

        <br /><br />

    </div>
    @*<div style="width:50%;float:right;">
        <img src="/Content/Users/@Model.Picture" style="max-height:500px;max-width:600px">


        <a href="/Admin/uploadPicture"><input type="submit" value="Change Picture" /></a>

    </div>*@
</body>