@using MvcApplication1.Models
@model IEnumerable<User>

@{
    ViewBag.Title = "Deposite";
    Layout = "~/Views/Shared/AdminNavBar.cshtml";

}


<body style=" color: black;">
    <div class="container well well-sm col-lg-8" style="margin-left:15%">

        <table class="table" style="border:solid">
            <thead>
                <tr class="btn-primary" style="text-align:center">
                    <th>Account</th>
                    <th>Name</th>
                    <th>Add Balance</th>

                </tr>
            </thead>

            @foreach (User obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Name</td>
                    
                    
                    <td><a href="/Admin/AddMoney/@obj.Id"><input type="submit" value="Add Balance" class="btn btn-primary " /></a></td>
                </tr>
            }


        </table>
        <br /><br /><br /><br />
    </div>
    

</body>
