

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminNavBar.cshtml";
}

<body style=" color: black;">

    <div class="container well well-sm col-lg-4 " style="margin-left:20%">
        <h4>@ViewBag.message</h4>

    </div>
</body>

