@using MvcApplication1.Models
@model IEnumerable<User>

@{
    ViewBag.Title = "Deposite";
    Layout = "~/Views/Shared/AdminNavBar.cshtml";

}


<body style=" color: black;">
    <div class="container well well-sm col-lg-8" style="margin-left:15%">

        <table class="table" style="border:solid">
            <thead>
                <tr class="btn-primary" style="text-align:center">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Add</th>

                </tr>
            </thead>

            @foreach (User obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Name</td>

                    <td><a href="/Admin/AddMoney/@obj.Id">Add Money</a></td>
                </tr>
            }


        </table>
    </div>


</body>
