@using MvcApplication1.Models
@model UserQuestion

@{
    ViewBag.Title = "UserQuestion";
    Layout = null;
}

<p>
    <h4 class="container well well-sm col-lg-6">
        Title:@Model.Title<br />
        <br />
        Question:@Model.Question<br />
        <br />

    </h4>

</p>

