

@{

    ViewBag.Title = "About";
}

<body >
    
    <div style="width:40%;float:left;" class="container well well-sm" >
        <p style="font-size:30px;color:black; font-family: Andalus">
           Some Text
           </p>
            

    </div>

    <div class="container well-sm well pull-left " style="width:60%;float:right; ">
        <div class="panel-body hvr-bounce-out">
            <div id="slider" class="action  hide-from-mobile">
                <img src="~/Content/22377588.jpg">
                <img src="~/Content/College.jpg">
                <img src="~/Content/PU.jpg">
                <img src="~/Content/PUCIT.jpg">
                <img src="~/Content/Capture1.PNG" />
                


            </div>
        </div>
    </div>
  @*  <div style="width:60%;float:right; ">

        <div class="panel-body hvr-bounce-out">
            <div id="slider" class="action  hide-from-mobile">
                <img src="~/Content/22377588.jpg">
                <img src="~/Content/College.jpg">
                <img src="~/Content/Capture1.PNG" />
                <img src="~/Content/Ammar%20pic.PNG" />


            </div>
            <br /><br /><br />
        </div>


    </div>*@
</body>

