
@{

    ViewBag.Title = "Contact";
}

<body >

    <div class="container well well-sm col-lg-8 pull-right " >
        <p style="font-size:20px; color:black;">
            You can contact to me at these I.D:
            Some Text
           

            
        </p>

        
        



    </div>


</body>