@{
    ViewBag.Title = "Home";
}
<body>

    <div>

        <br /><br />
        <div class="container well-sm well"  >
            <div class="panel-body hvr-rotate" style="margin-left:20%">
                <div id="slider" class="action  hide-from-mobile">
                    <img src="~/Content/Card.jpg" alt="Master Card">
                    <img src="~/Content/ABL Card.jpg" alt="Debit Card">
                    <img src="~/Content/Our Bussiness Friend.jpg" alt="Soponser">
                    <img src="~/Content/Women Account.jpg" alt="Women Account">
                    <img src="~/Content/Inside Bank.jpg" alt="Inside Bank">
                </div>
            </div>
        </div>
    </div>



</body>

