@{
    
    ViewBag.Title = "Services";
}

<body >


        <div class="container well well-sm" style="font-size:30px;width:30%; font-family:Corbel;float:left;">

            <p>We are giving many services to our customer free which are given below.</p>
            <ul>
                <li>First is free of cost account.Some banks charge to create a bank account.</li>
                <li>Free Check Book. Check book is totally free for our Customer.</li>
                <li>Free SMS alter system for all customer when there is a change happens </li>
                <li>Free Master Card for all types of Customers </li>
                <li>Free Debit Card for all types of Customers </li>
                
            </ul>
            <br>
        </div>
    

        <br /><br />

    <div class="container well-sm well" style="width:65%;float:right;">
        <div class="panel-body hvr-bounce-in" >
            <div id="slider" class="action  hide-from-mobile">
                <img src="~/Content/Card.jpg" >
                <img src="~/Content/ABL Card.jpg" >
                <img src="~/Content/Account.jpg" >
                
                <img src="~/Content/Women Account.jpg">
                

            </div>
        </div>
    </div>
   
    
</body>

